Q1 : try to print a prime number in between 1 to 100

In [63]:
for i in range(1,100) :
    count = 0
    for j in range(1,100) :
        if((i>j) and (j != 1) and (i % j == 0)):
            count = count + 1
    
    if count == 0:
        print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
q2 : try to write a function which is equivalent to print function in python

In [12]:
def printFunction(text):
    '''This function works as a print function'''
    return text

In [2]:
printFunction("Hello world")

'Hello world'

q3 : try to write a function which is a replica of list append, extend and pop function

q4 : try to write a lambda function which can return a concatenation of all the string which we pass

In [ ]:
# method 1 using + operator

In [44]:
ConcatStringsPlusOperator = lambda a, b : a+b

In [45]:
ConcatStringsPlusOperator("string1","string2")

'string1string2'

In [ ]:
# method 2 using join operator

In [42]:
ConcatStringsJoinOperator = lambda a, b : ''.join([a, b])

In [43]:
ConcatStringsJoinOperator("string1","string2")

'string1string2'

q5 : try to write a lambda function which can return a list of square of data between 1 and 100

In [79]:
SquareList = list(map(lambda x: x * x , range(1,101)))

print(SquareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

# q6 : try to write a 10 different example of lambda function with a choice of yours tasks

In [83]:
# display numbers 1 t0 10 using lambda

In [84]:
SquareList = list(map(lambda x: x , range(1,11)))
print(SquareList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# lambda function to find greater of 2 numbers

In [85]:
Max = lambda a, b : a if(a > b) else b

In [86]:
Max(5,6)

6

In [87]:
# lambda function to print addition of 2 numbers

In [47]:
sum = lambda a, b : a+b

In [48]:
sum(5,6)

11

In [ ]:
# lambda function to print subtraction of 2 numbers

In [49]:
subtract = lambda a, b : a-b

In [50]:
subtract(5,6)

-1

In [ ]:
# lambda function to print multiplication of 2 numbers

In [52]:
multiply = lambda a, b : a*b

In [53]:
multiply(5,6)

30

In [54]:
# lambda function to print division of 2 numbers

In [55]:
division = lambda a, b : a/b

In [56]:
division(5,6)

0.8333333333333334

In [61]:
# lambda function to sort the list.

In [87]:
l4 = [5,4,9,3,98]

In [88]:
sortlist = lambda list : list.sort()

In [90]:
sortlist(l4)

In [91]:
l4

[3, 4, 5, 9, 98]

In [ ]:
# lambda function with filter. lambda function to display numbers divisible by 2

In [70]:
number = [1,2,3,4,5,6,7,8,9,10]
multiples_of_2 = list(filter(lambda a: (a%2 == 0) ,number))
print(multiples_of_2)

[2, 4, 6, 8, 10]

In [ ]:
# lambda function with map. lambda function to display reminders when divided by 2

In [72]:
mylist = [2,3,4,5,6,]
list_new  = list(map(lambda x : x%2, mylist))
print(list_new)

[0, 1, 0, 1, 0]

In [68]:
#  Using lambda inside reduce. reduce() function performs a repetitive operation over the pairs of the elements in the list.
from functools import reduce
sum = reduce((lambda x,y: x+y), [1,2,3,4,5])
print(sum)

15

q7 : try to write a function which can perform a read operation from .txt file

In [ ]:
# method 1

In [35]:
def readFile1(path):
    file1 = open(path,"r")
    contents =  file1.read()
    return contents
    file1.close()

In [36]:
readFile1("C://Users//shara//Desktop//Javascript//SampleNotepad.txt")

'\nThis is a notepad file line 1\nThis is a notepad file line 2\nThis is a notepad file line 3\nThis is a notepad file line 4'

In [39]:
# method 2

In [37]:
def readFile2(path):
    file1 = open(path,"r")
    contents = file1.read()
    print(contents)
    file1.close()

In [38]:
readFile2("C://Users//shara//Desktop//Javascript//SampleNotepad.txt")

This is a notepad file line 1
This is a notepad file line 2
This is a notepad file line 3
This is a notepad file line 4